.part{:class => build_part.status, :title => build_part.paths.map{|path| "-#{path}"}.join("<br>")}
  %a.part-wrapper{:href => project_build_part_path(project, build, build_part)}
    .kind
      - if build_part.kind == "spec"
        Specs
      - elsif build_part.kind == "cucumber"
        Cukes
    .attempts
      = render build_part.last_attempt
      - if build_part.build_attempts.count > 1
        = "..."
