.part{:class => build_part.kind}
  %a.part-wrapper{:href => build_build_part_path(build_part.build, build_part)}
    .kind
      - if build_part.kind == "spec"
        Sp
      - elsif build_part.kind == "cucumber"
        Cu
    .results= render build_part.build_part_results
    %abbr{:title => build_part.paths}
