/.bundle
log/*.log
tmp/
public/uploads
public/log_files
vendor/ruby

# file with the real db config for production
/config/database.production.yml

# application settings
/config/application.yml
robot-password

#intellij
.idea/*
*.iml

