= form_for @repository, :url => repository_url(@repository) do |f|
  %label{:for => "url"} Repository Url:
  =  f.text_field :url, {:placeholder => '', :autocapitalize => 'off', :autocorrect => 'off', :spellcheck => 'false'}
  %label{:for => "test_command"} Test Command:
  =  f.text_field :test_command, {:placeholder => 'script/ci', :autocapitalize => 'off', :autocorrect => 'off', :spellcheck => 'false'}
  =  f.submit "Update", {:class => 'build-button'}
