%h2.subheader
  Kick off a new Dogfood build


= form_for @build do |f|
  =  f.text_field :sha, {:placeholder => 'SHA', :class => 'sha', :autocapitalize => 'off', :autocorrect => 'off', :spellcheck => 'false'}
  =  f.hidden_field :queue
  =  f.submit "Build", {:class => 'build-button'}