/*
  Welcome to Compass.
  In this file you should write your main styles. (or centralize your imports)
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

@import compass/reset
@import compass/css3/gradient
@import compass/css3/border-radius
@import _avantgarde

/* Variables */
$font-base: Helvetica, Arial, sans-serif
$font-code: Inconsolata, Menlo, Monaco, monospace
$color-base: #52585D
$color-title: #52585D
$color-link: #2D81C5

/* Mixins */
=has-layout
  display: block
  zoom: 1

=envelope
  +has-layout
  position: relative
  overflow: hidden

=safe-envelope
  +has-layout
  &:after
    content: " "
    display: block
    height: 0
    clear: both
    overflow: hidden
    visibility: hidden

=text-shadow
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5)

/* Styles */
$default-background: #b4b5b7 url(../images/body-noise.png) center left fixed
html
  font-family: $font-base
  background: $default-background
  background: url(../images/body-noise-shadow.png) repeat-y center top fixed, $default-background

h1, h2, h3, h4, h5, h6
  font-family: "agb", $font-base

body
  font-size: 12px

a
  color: $color-link
  text-decoration: none

.section-wrapper
  overflow: hidden
  background: url(../images/section-bottom.png) no-repeat bottom center
  background: url(../images/section-top.png) no-repeat top center, url(../images/section-bottom.png) no-repeat bottom center
.section
  +envelope
  margin: 15px auto
  width: 960px

$logo-padding: 45px
#header
  a.logo
    float: left
    h1
      background: url(../images/logo.png) no-repeat left center
      padding-left: $logo-padding
      font-size: 28px
      line-height: 38px
      .title-first
        color: $color-title
      .title-second
        color: $color-title + #666

  #nav
    float: right
    line-height: 30px
    a
      text-align: right
      padding-left: 20px

h2.subheader
  color: $color-title + #222
  font-size: 175%
  padding: 0 0 25px

#content
  .builds

.build
  overflow: hidden
  margin: 0 0 50px

  .build-wrapper
    +envelope
    color: #666
    display: block

    .error, .doomed, .failed
      color: #f66
    .partitioning, .runnable, .running
      color: #66f
    .succeeded
      color: #6f6

    .build-info
      float: left
      .sha
        +text-shadow
        font-size: 175%
        font-family: $font-code
        line-height: 40px
        letter-spacing: 1px
        &:hover
          color: $color-link
      .state
        font-weight: bold
      .queue
        font-weight: bold

    .time-elapsed
      float: right
      margin-right: 20px
      line-height: 50px

    .build-id
      +text-shadow
      font-family: $font-base
      float: right
      font-size: 400%
      font-weight: bold
      width: 100px
      text-align: right

$part-margin: 1px
$color-spec: rgba(135, 184, 232, 0.6)
$color-cuke: rgba(198, 232, 135, 0.6)
.parts
  +envelope
  margin: 10px (-$part-margin)
  .part
    overflow: hidden
    float: left
    border: 1px solid rgba(0, 0, 0, 0.5)
    margin: $part-margin
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3)
  .part.spec
    background-color: $color-spec
  .part.cucumber
    background-color: $color-cuke

  .part-wrapper
    +envelope
    display: block
    margin: 5px
    width: 105px
    height: 25px
    color: #333
    .kind
      float: left
      font-size: 175%
      font-weight: bold
      line-height: 27px
    .result
      float: right
      text-transform: uppercase
      color: #444
      line-height: 40px
      font-size: 90%
      &::before
        content: "\00A0"
        display: block
        border: 1px solid #666
        border-radius: 8px
        width: 10px
        height: 10px
        float: right
        margin: 13px 0 0 3px
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3)
    .result.runnable::before, .result.running::before
      background-color: #66f
    .result.failed::before, .result.error::before
      background-color: #f66
    .result.passed::before
      background-color: #6f6

.results
  .results
    overflow: hidden

.paths-tooltip
  border: 1px solid rgba(0, 0, 0, 0.5)
  background-color: #fff
  color: #333
  font-size: 120%
  font-family: $font-code
  max-width: 500px !important
  li
    margin: 5px 0