.projects
  %ul
    - @projects.each do |project|
      %li.build-info
        = link_to(project.name, project_path(project))
        \-
        %span.state{:class => 'build-' + project.builds.last.try(:state).to_s}=  project.builds.last.try(:state).to_s.capitalize


.repositories-link
  = link_to("Repositories", repositories_path)