.projects
  %ul
    - @projects.each do |project|
      %li.build-info
        = link_to(project.name, project_path(project))
        \-
        %span.state{:class => 'build-' + project.builds.last.state.to_s}=  project.builds.last.state.to_s.capitalize
