#worker-health-wrap
  %table{:class => "worker-health"}
    %thead
      %th.right Worker
      %th Partition Attempts
    %tbody
      %tr
        %td.right= "Partition workers"
        %td
          - @partition_jobs.each do |partition_job|
            = link_to build_redirect_path(partition_job) do
              - if !partition_job.build_parts.empty?
                %span.attempt-status{:class => :passed}
                // ugly hack because in this table, partitioning means "in progress", whereas in
                // the following build attempts table, it means not started yet
              - elsif partition_job.state == 'partitioning'
                %span.attempt-status{:class => :running}
              - else
                %span.attempt-status{:class => partition_job.state}
  %br
  %table{:class => "worker-health"}
    %thead
      %th.right Worker
      %th Build Attempts
    %tbody
      - @workers.each do |worker_name, build_attempts|
        %tr
          %td.right= worker_name
          %td
            - build_attempts.each do |build_attempt|
              = link_to build_part_redirect_path(build_attempt) do
                %span.attempt-status{:class => build_attempt.state}
