@import compass
@import compass/reset
@import compass/css3/border-radius

/* SQ Market font */
@font-face
  font-family: 'SQ Market'
  src: url('/fonts/SQMarket-Regular.otf') format('opentype')

/* Variables */
$font-base: Helvetica Neue, Helvetica, Arial, sans-serif
$font-code: Inconsolata, Menlo, Monaco, monospace
$color-base: #52585D
$color-title: #52585D
$color-link: #2D81C5

$color-passed: hsl(90, 90%, 70%)
$color-runnable: hsl(216, 40%, 90%)
$color-running: hsl(216, 90%, 70%)
$color-failed: hsl(0, 90%, 70%)
$color-errored: hsl(48, 90%, 70%)
$color-aborted: hsl(0, 0%, 70%)

/* Mixins */
=has-layout
  display: block
  zoom: 1

=envelope
  +has-layout
  position: relative
  overflow: hidden

=safe-envelope
  +has-layout
  &:after
    content: " "
    display: block
    height: 0
    clear: both
    overflow: hidden
    visibility: hidden

=text-shadow
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5)

=box-sizing($box-sizing: border-box)
  box-sizing: $box-sizing
  -webkit-box-sizing: $box-sizing
  -moz-box-sizing: $box-sizing

=border-radius($radius: 0)
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  border-radius: $radius

/* Styles */
html, body
  height: 100%

body, input
  font-family: $font-base
  font-size: 12px

#page
  width: 1020px
  margin: 0 auto
  min-height: 100%

h1, h2, h3, h4, h5, h6
  font-weight: 300

a
  color: $color-link
  text-decoration: none

strong
  font-weight: bold

code
  font-family: $font-code

input[type=text],
input[type=email],
input[type=password]
  font-family: $font-base
  outline: none !important
  width: 150px
  border-radius: 3px
  -webkit-box-shadow: 0 2px 2px rgba(black, 0.1) inset
  -moz-box-shadow: 0 2px 2px rgba(black, 0.1) inset
  border: solid 1px rgba(black, 0.3)
  padding: 4px
  color: #202122
  &:focus
    border-color: hsla(207, 63%, 47%, 0.6)

input[type=submit], button, .button
  +border-radius(3px)
  box-shadow: 0 1px 0 rgba(white, 0.1) inset, 0 0 3px rgba(black, 0.2)
  border: solid 1px rgba(black, 0.2)
  background: $color-link -webkit-linear-gradient(top, transparent, rgba(black, 0.2))
  color: white
  text-shadow: 0 -1px 0 rgba(black, 0.2)
  padding: 4px 8px
  &:active
    box-shadow: 0 1px 3px rgba(black, 0.2) inset
    color: rgba(white, 0.95)

// Tooltip overrides
#tiptip_content
  font-size: 14px

/* Index */
.section-wrapper
  overflow: hidden
  border-bottom: solid 1px #e2e2e2
  //background: image-url("section-bottom.png") no-repeat bottom center
  //background: image-url("section-top.png") no-repeat top center, image-url("section-bottom.png") no-repeat bottom center
.section
  +envelope
  margin: 1em auto 0.25em
  width: 1000px

.flash
  text-align: center
  font-size: 14px
  padding: 10px
  border-radius: 12px
  margin-bottom: 10px
  font-weight: bold
  &.message
    background-color: #91f991
  &.error
    background-color: #ff9999


#header
  a.logo
    float: left
    h1
      font-family: "SQ Market", $font-base
      font-size: 28px
      height: 37px
      color: $color-title + #666
      b
        color: $color-title
      .translation
        font-size: 14px
  ul.links
    display: inline-block
    li
      display: inline-block
      padding-right: 8px
      margin-right: 8px
  form
    display: inline-block

#nav
  width: 1000px
  margin: 1em auto
  padding-bottom: 30px

h2.subheader
  color: $color-title + #222
  font-size: 175%
  padding: 0 0 25px
  form
    display: inline-block
  label
    font-size: 12px
    font-family: $font-base
    float: right
    padding-top: 5px

h3
  color: $color-title + #222
  font-size: 125%
  padding: 0 0 10px

fieldset
  legend
    font-weight: bold
  //border: solid 1px rgba(black, 0.3)
  //border-radius: 3px
  padding: 0.5em 0
  margin: 1em 0
form label
  display: inline-block
  min-width: 180px

.info + .info
  margin-left: 8px
  padding-left: 8px
  border-left: solid 1px rgba(0, 0, 0, 0.3)

#plot
  margin-bottom: 2em
  width: 100%
  height: 180px
  cursor: pointer
  .legend table
    width: auto
    td
      padding: 2px
  .xAxis
    font-family: $font-code
    font-size: 12px
    color: $color-link
  .axis-label
    position: absolute
    color: #666
    &.y
      -webkit-transform: rotate(-90deg)
      left: -45px
      top: 45%

#tooltip
  position: absolute
  display: none
  border: 1px solid #52585D
  padding: 2px
  background-color: #B8BEC3
  font-size: 130%
  opacity: 0.80

.build-state
  .state
    font-weight: bold
  .queue
    font-weight: bold

.build
  overflow: hidden
  margin: 0 0 50px

  .build-wrapper
    +envelope
    color: #666
    display: block

    .build-info
      float: left
      .ref
        font-size: 175%
        font-family: $font-code
        line-height: 40px
        letter-spacing: 1px
        &:hover
          color: $color-link

    .times
      float: right
      margin: 10px 20px
      line-height: 15px
      text-align: right

    .build-id
      +text-shadow
      font-family: $font-base
      float: right
      font-size: 400%
      font-weight: bold
      text-align: right

$part-margin: 2px

.parts
  +envelope
  margin: 10px (-$part-margin)
  .part
    overflow: hidden
    float: left
    border: 1px solid rgba(0, 0, 0, 0.1)
    border-radius: 3px
    margin: $part-margin
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3)
  .part.runnable
    background-color: $color-runnable
  .part.running
    background-color: $color-running
  .part.passed
    background-color: $color-passed
  .part.failed
    background-color: $color-failed
  .part.errored
    background-color: $color-errored
  .part.aborted
    background-color: $color-aborted

  .part-wrapper
    +envelope
    display: block
    margin: 5px
    width: 115px
    height: 25px
    color: #333
    .kind, .attempts
      display: inline-block
    .kind
      font-size: 175%
      font-weight: bold
      line-height: 27px

.attempts
  .attempt
    overflow: hidden

.paths-tooltip
  border: 1px solid rgba(0, 0, 0, 0.5)
  background-color: #fff
  color: #333
  font-size: 120%
  font-family: $font-code
  max-width: 500px !important
  li
    margin: 5px 0


/* New build in header */
.header-right
  float: right
  line-height: 32px
  margin-top: 5px
  input.ref
    margin: 0
    width: 200px
    font-size: 100%

/* New build page */
input.ref
  width: 500px
  font-family: $font-code
  font-size: 150%
input.build-button
  font-size: 120%

table
  width: 100%
  tr:nth-child(even)
    background-color: rgba(0, 0, 0, 0.05)
  tbody tr:hover
    background-color: #e4edfa !important
  th
    font-weight: bold
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
    padding: 0 15px 5px
    cursor: pointer
    &.headerSortDown::after
      content: " ▲"
      font-size: 8px
    &.headerSortUp::after
      content: " ▼"
      font-size: 8px
    code
      font-size: 15px
  td
    padding: 5px 15px
    .part-status, .attempt-status
      &::before
        content: "\00A0"
        border: 1px solid rgba(black, 0.4)
        border-radius: 3px
        display: block
        float: left
        width: 10px
        height: 10px
        text-align: center
        margin-right: 5px
        box-shadow: 0 1px 1px rgba(black, 0.1)
        font-size: 10px
        font-family: verdana, sans-serif
        font-weight: bold
        color: rgba(black, 0.4)
      &.runnable::before
        background-color: $color-runnable
      &.running::before
        background-color: $color-running
      &.failed::before, &.errored::before, &.aborted::before
        content: "!"
      &.failed::before
        background-color: $color-failed
      &.errored::before
        background-color: $color-errored
      &.aborted::before
        background-color: $color-aborted
      &.passed::before
        background-color: $color-passed
    &.whisker
      width: 60px
      padding-right: 0
      .part-status::before
        content: ""
        width: 1px
        height: 10px
        margin-right: 2px
        border-color: rgba(black, 0.2)
      .part-status.attempt-1::before
        height: 1px
      .part-status.attempt-2::before
        height: 3px
      .part-status.attempt-3::before
        height: 5px
      .part-status.attempt-4::before
        height: 7px
      .part-status.attempt-5::before
        height: 9px
  .result-column
    width: 80px
  th:first-child, td:first-child
    padding-left: 0
  th.right, td.right
    text-align: right
  th.small, td.small
    width: 30px


/* Build show */
.build-info-subheader
  margin: -15px 0 25px
.build-summary
  margin-bottom: 10px
  .id-column
    width: 50px
  th.result-column
    padding-left: 32px

/* Build parts show*/
table.build-part-info
  margin-bottom: 20px

ol#build-paths
  margin-bottom: 20px
  list-style: square inside none
  line-height: 150%

.toggle-auto-merge
  display: inline-block

.new-repository-link
  padding-bottom: 20px

.rebuild-parts
  display: inline-block

.projects
  +pie-clearfix

  li.build-info
    margin: .3em 0

  .ci-build-info
    position: relative
    width: 188px
    height: 188px
    float: left
    border-radius: 10px
    text-align: center
    margin: 0 10px 10px 0
    color: rgba(black, 0.8)
    text-shadow: rgba(white, .1) 0 1px 0
    +box-shadow(0 1px 2px rgba(black, .5), inset 0 0 3px rgba(black, .3))
    &:nth-child(5n)
      margin-right: 0
    a
      color: rgba(white, 0.95)
      text-shadow: rgba(black, .2) 0 -1px 0
    .project-name
      font-size: 26px
      font-weight: 300
      a
        display: block
        padding: 55px 0 10px
        letter-spacing: .05em
    .state
      padding-top: 6px
    .project-link
      display: none
      position: absolute
      bottom: 10px
      width: 100%
    &:hover
      .project-link
        display: block

.ci-errored, .ci-doomed, .ci-failed
  background-color: desaturate(darken($color-failed, 10%), 20%)
  font-weight: bold

.ci-partitioning, .ci-runnable, .ci-running
  background-color: desaturate(darken($color-running, 10%), 20%)

.ci-succeeded
  background-color: desaturate(darken($color-passed, 20%), 20%)

.ci-unknown
  background-color: desaturate(darken($color-aborted, 10%), 20%)

#repository_url, #repository_test_command, #on_green_update
  width: 400px
